 @import 'tailwindcss';
/* @plugin '@tailwindcss/forms'; */
/* @plugin '@tailwindcss/typography'; */

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: inherit;
  background-color: inherit;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  font-family: system-ui, sans-serif;
}